@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

* {
    font-family: 'Baloo 2', cursive;
}

/* Custom CSS cho breakpoint XL (kích thước lớn hơn hoặc bằng 1280px) */
@screen xl {
    .mobile-app-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .all-services-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

/* Custom CSS cho breakpoint LG (từ 1024px đến 1279px) */
@screen lg {

}

/* Custom CSS cho breakpoint MD (từ 768px đến 1023px) */
@screen md {
    .mobile-app-grid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .all-services-grid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

/* Custom CSS cho breakpoint SM (từ 640px đến 767px) */
@screen sm {
}


@media screen and (max-width: 580px) {
}